@use "../globals.scss" as *;

$img-height-desktop: 400px;
$img-height-mobile: 200px;
$img-width: 100%;
$img-object-fit: cover;

.img1,
.img2,
.img3,
.img4,
.img5 {
  width: $img-width;
  height: $img-height-desktop;
  object-fit: $img-object-fit;
}

.img1 {
  object-position: 50% 70%;
}
.img2 {
  object-position: 50% 25%;
}
.img3,
.img5 {
  object-position: center;
}
.img4 {
  object-position: top;
}

@media screen and (max-width: 768px) {
  .img1,
  .img2,
  .img3,
  .img4,
  .img5 {
    height: $img-height-mobile;
  }
}
