@use "../../globals.scss" as *;

.section {
  margin: 0;
  padding: 10px;
  font-family: $noto;
}

.container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  justify-content: center;
  justify-items: center;
  height: 100%;
  align-items: center;
}

.card {
  width: 320px;
  height: 500px;
  margin: 50px;
  box-shadow: 5px 5px 20px black;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  cursor: pointer;

  &:hover .content {
    height: 500px;
    bottom: 0;
  }

  &:hover p {
    visibility: visible;
    opacity: 1;
  }

  &:hover .img {
    transform: scale(1.5);
  }
}

.img {
  width: 320px;
  height: 500px;
  border-radius: 10px;
  transition: all 0.5s;
  object-fit: cover;
}

.content {
  height: 100px;
  width: 320px;
  padding: 6px;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  background: rgba(27, 27, 27, 0.5);
  color: $wh;
  transition: all 0.5s;

  h1 {
    margin: 10px;
    font-size: 28px;
  }

  span {
    margin: 10px;
    font-size: 22px;
    font-weight: bold;
    color: #f1c40f;
  }

  p {
    margin: 20px;
    font-size: 18px;
    visibility: hidden;
    opacity: 0;
  }
}

.btn {
  margin: 40px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  background-color: $bk;
  color: $wh;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
