@use "../../globals.scss" as *;
@use "../../mixin.scss" as *;

.container {
  width: 100%;
  max-width: 144rem;
  margin: 0 auto;
  padding-left: min(5.5vw, 8rem);
  padding-right: min(5.5vw, 8rem);
}

.titlearea {
  margin: 0 30px;
  text-align: left;
  display: inline-block;
}

.title {
  font-size: 4.5rem;
  font-weight: 700;
  font-family: $noto;
  min-height: 6rem;
  display: block;
  width: 100%;
  white-space: pre;
}

.redLine,
.transparentLine {
  height: 6px;
  background-color: transparent;
}

.redLine {
  background-color: $red;
  transform-origin: left;
  animation: expandLine 1s forwards;
}

@keyframes expandLine {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.content {
  padding-top: 6.4rem;
}

.list {
  display: flex;
  justify-content: center;
  gap: 1.6rem;
  padding: 20px;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  width: calc(400 / 980 * 100%);
}

.imgArea {
  width: 100%;
  height: 100%;
}

.img {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 5px 5px 20px black;
}

.textArea {
  width: 100%;
  text-align: center;
  margin-top: 1.6rem;
}

.text {
  font-size: 2.4rem;
  font-weight: 700;
  font-family: $noto;
  margin-bottom: 1.6rem;
  @include sp {
    font-size: 2rem;
    text-wrap: nowrap;
  }
}

.undcontent {
  display: flex;
  padding: 20px;
  align-items: center;
}

.undimagearea {
  flex: 1;
  padding: 40px;
  display: flex;
  justify-content: center;
}

.undimg {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

.undtext {
  margin-top: 20px;
  flex: 1;
  padding: 20px;
}

.description {
  font-size: 1.6rem;
  line-height: 4.4rem;
  font-family: $noto;
  font-weight: bold;
}

@media (max-width: 660px) {
  .list {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .undcontent {
    flex-direction: column;
  }
}
