@use "../../globals.scss" as *;
@use "../../mixin" as *;
.container {
  padding-top: 12rem;
  padding-bottom: 16.4rem;
  padding-left: min(5.5vw, 8rem);
  padding-right: min(5.5vw, 8rem);
  max-width: 144rem;
  margin: 0 auto;
  @include sp {
    padding-top: 8rem;
    padding-bottom: 8rem;
    padding-left: min(calc(20 / 375 * 100vw), 2rem);
    padding-right: min(calc(20 / 375 * 100vw), 2rem);
  }
}

.title {
  text-align: center;
}

.content {
  padding: 8rem calc(120 / 1280 * 100%);
  margin-top: 4.8rem;
  border: solid 0.3rem $bk;
  display: flex;
  gap: calc(40 / 1280 * 100%);
  @include sp {
    flex-direction: column;
    padding: 4rem 2rem;
    gap: 4rem;
  }
}
.snsArea {
  width: 33.333%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  @include sp {
    width: 100%;
    gap: 1.2rem;
  }
}
.snsTitle {
  margin-bottom: 2.4rem;
  text-align: center;
  @include sp {
    margin-bottom: 1.6rem;
  }
}

.youtubeTitle {
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
  @include pc {
    &:hover {
      opacity: 1;
      transform: scale(1.05);
    }
  }

  @include sp {
    opacity: 1;
  }
}
